* {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 2100px;
    margin: -20px auto;
    background-image: url("back8.jpg");
    height: 1000px;
   
    min-width: 1960px;
}


body {
    background-color: #bfe8fc;
    color: white;
}



nav {
    float: right;
    width: 100%;
    background-color: #81cbd4;
    height: 110px;
    border-bottom: 3px solid #73b8c0;
}
nav img{

    margin-top:40px;
    margin-left:500px;
}

nav #menu{
    margin-top:21px;
    float:right;
    margin-right:520px;
}



a {
    background-color: #80cad5;
    border: none;
    color: white;
    padding: 33px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

    a:hover {
        background-color: #60b6d2;
    }

li {
    float: left;
    list-style: none;
}






form {
   
   
    color: white;
    background-color: #77c0c9;
    width:auto%;
    padding-left:500px;
    padding-bottom:20px;
    border-top:2px solid grey;
   
   
}



p {

    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

input[type=text] {
    margin-top:20px;
  
    background-color: #80cad5;
    color: white;
    padding: 12px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=date] {
    background-color: #80cad5;
    color: white;
    padding: 8px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#forma button {
   
    background-color: #ffb400;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 42px;
    text-align: center;
    text-decoration: none;
   
  
    font-weight: bold;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}



#forma button:hover {
        background-color: #60b6d2;
    }

#naglowek3{

    margin-top:100px;   
}
    #naglowek3 h3 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        color: #39667C;
        margin-left:-140px;
    }


#tytul p {
    margin-top:50px;
    margin-left: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #373765;
}

   


